#HTML
setup/.idea
setup/bower_components
setup/node_modules
jekyll/fonts
jekyll/js
jekyll-beispielfiles
build
node_modules
#screen.css
#jquery.fullPage.css
.idea
*.hi
*.o
HTML.jekyll
_hakyll_cache
_build
.stack-work
.tmp
