<div class="container-fluid viewport">
  <footer class="row center-block">
    <div class="col-sm-12">
      <ul class="list-inline">
        <li><a href="/"><img src="img/footer_01.png"></a></li><!-- Home -->
        <li><a href="https://de.linkedin.com/in/nicole-rauch-807ab52b"><img src="img/footer_02.png"></a></li><!-- LinkedIn -->
        <li><a href="https://www.xing.com/profile/Nicole_Rauch2"><img src="img/footer_03.png"></a></li><!-- Xing -->
        <li><a href="https://twitter.com/nicolerauch"><img src="img/footer_04.png"></a></li><!-- Twitter -->
      </ul>
      <p>NICOLE RAUCH 2015 &copy;</p>
    </div>
  </footer>
</div>
