<!-- javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<!--script type="text/javascript" src="/js/jquery.fullPage.js"></script-->
<script>
    $(document).ready(function() {
        $('#fullpage').fullpage({
            //Scrolling
            css3: true,
            scrollBar: false,
            responsiveWidth: 900,

            //Accessibility
            keyboardScrolling: true,
        });
    });
</script>
