---
layout: default
---

<div class="col-md-5 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1">

<h2>English Blog Posts</h2>

{% for post in site.posts %}
{% if post.lang == "en" %}
<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
{% if post.subtitle %}<h5><a href="{{ post.url }}">{{ post.subtitle }}</a></h5>{% endif %}
<small>{{ post.date | date: "%d.%m.%Y" }}</small><br/>
  {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  <a href="{{ post.url }}"><small>(read more)</small></a>
{% endif %}
{% endfor %}

</div>
  
<div class="col-md-5 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1 year">
  <p style="margin-top: 30px; margin-bottom: 30px;"><img src="/img/banner3.png"></p>
  
<h2>Deutschsprachige Blog-Artikel</h2>

{% for post in site.posts %}
{% if post.lang == "de" %}
<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
{% if post.subtitle %}<h5><a href="{{ post.url }}">{{ post.subtitle }}</a></h5>{% endif %}
<small>{{ post.date | date: "%d.%m.%Y" }}</small><br/>
  {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
  <a href="{{ post.url }}"><small>(weiterlesen)</small></a>
{% endif %}
{% endfor %}

</div>
