---
layout: default
---

<div class="col-md-5 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1">

<h3>Kommende Vorträge und Workshops</h3>

  <ul style="list-style-type: none;padding:0; margin:0;">
{% for termin in site.data.termine.kommende %}
  <li style="margin-bottom:0.5em;">{{termin.name}}:<br/>
    {% if termin.url %}
      <a href="{{ termin.url }}">{{ termin.title }}</a><br/>
    {% else %}
      {{ termin.title }}<br/>
    {% endif %}
    <small>{{ termin.kind }}</small>
  </li>
{% endfor %}
  </ul>

</div>

<div class="col-md-5 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1">

<div class="col-md-4 col-md-offset-1 hidden-xs hidden-sm" id="banner">
    <p><img src="/img/banner3.png"></p>
</div>

* Mathema Campus, Erlangen, 9.4.2016:<br>
  Wenn die Domäne treibt - Einführung in Domain-Driven Design<br>
  <small>Vortrag</small>

* JAX, Mainz, 18.4.2016:<br>
  [Eine "Grand Unified Theory" der Softwareentwicklung](https://jax.de/session/eine-grand-unified-theory-der-softwareentwicklung/)<br>
  <small>Vortrag</small>

* React Europe, Paris, 2.6.2016:<br>
  It's Shallow Rendering All the Way Down<br>
  <small>Lightning Talk</small>

* Digicomp DevDay, Zürich, 22.6.2016:<br>
  TBA<br>
  <small>Vortrag</small>  

<h3>Vergangene Vorträge und Workshops</h3>

* XP-Days Karlsruhe, 27.11.2015:<br>
  [Design on Steroids](http://www.xpdays.de/2015/sessions/065-design-on-steroids.html)<br>
  [(Video)](https://www.youtube.com/watch?v=Iut3CprhlEA&feature=em-share_video_user)<br>
  <small>Vortrag mit Michael Sperber</small>

* XP-Days Karlsruhe, 26.11.2015:<br>
  [Offshoring mal andersherum - Einsichten in das Leben eines Remote-Entwicklers](http://www.xpdays.de/2015/sessions/063-offshoring-mal-andersherum-einsichten-in-das-leben-eines-remote-entwicklers.html)<br>
  [(Video)](https://www.youtube.com/watch?v=DnyV-5edV6k&feature=youtu.be)<br>
  <small>Pecha Kucha</small>

* Java User Group Karlsruhe, 25.11.2015:<br>
  [Funktioniert's? - Funktionale Programmierung mit Java 8](http://jug-karlsruhe.mixxt.de/networks/events/show_event.104754)<br>
  [(Video)](https://www.youtube.com/watch?v=dM_NUMEO69k&feature=youtu.be)<br>
  <small>Vortrag</small>

* Agile Tour Vienna, Wien, 21.11.2015:<br>
  [Specification by Example](http://www.agiletourvienna.at/Agenda/Rauch)<br>
  <small>Interaktiver Vortrag</small>

* Digicomp, Zürich, 19.11.2015:<br>
  [Referat: Specification by Example - Endlich die richtige Software entwickeln!](https://www.digicomp.ch/de/weiterbildung/softwareentwicklung/specification-by-example-endlich-die-richtige-software-entwickeln)<br>
  <small>Vortrag</small>
  
* London Software Craftsmanship Community, London, 14.11.2015:<br>
  [Global Day of Coderetreat @ TIM Group](http://www.meetup.com/de/london-software-craftsmanship/events/226148908/)<br>
  <small>Coderetreat-Moderation</small>

* Digicomp, Zürich, 21.10.2015:<br>
  [Referat: Einführung in die funktionale Programmierung](https://www.digicomp.ch/events/softwareentwicklung-events/einfuehrung-in-die-funktionale-programmierung)<br>
  <small>Vortrag</small>

* London Software Craftsmanship Community, London, 14.10.2015:<br>
  [Introduction to Functional Programming using Haskell](http://www.meetup.com/de/london-software-craftsmanship/events/225943156/?eventId=225943156&rv=co1&chapter_analytics_code=UA-19049790-1&rv=co1)<br>
  <small>Workshop</small>

* Java Forum Nord, Hannover, 6.10.2015:<br>
  [Funktioniert's? - Funktionale Programmierung mit Java 8](http://http://javaforumnord.de/)<br>
  <small>Vortrag</small>

* Tools4AgileTeams, Wiesbaden, 18.9.2015:<br>
  [Specification by Example](http://www.tools4agileteams.com/display/2015/Specification+by+Example)<br>
  [(Video)](https://www.youtube.com/watch?v=oJ_A6rlP3PU&feature=youtu.be)<br>
  <small>Interaktiver Vortrag</small>

* Java Forum, Stuttgart, 9.7.2015:<br>
  [Funktioniert's? - Funktionale Programmierung mit Java 8](http://www.java-forum-stuttgart.de/de/Programm.html)<br>
  <small>Vortrag</small>

* Joy of Coding, Rotterdam, Niederlande, 29.5.2015:<br>
  [Functional Programming for Beginners](http://joyofcoding.org/#functional-programming-for-beginners)<br>
  <small>Vortrag</small>

* Entwicklertag, Karlsruhe, 21.5.2015:<br>
  [Jetzt funkt's! Funktionale Programmierung für Anfänger](https://entwicklertag.de/karlsruhe/2015/jetzt-funkts-funktionale)<br>
  <small>Vortrag</small>

* Mathema Campus, Erlangen, 24.4.2015:<br>
  [Sportlich, sportlich - Specification by Example mit Fitnesse](http://www.mathema.de/veranstaltungen/mathema-campus/programm#B3)<br>
  <small>Vortrag</small>

* SPA Conference, London, 2.7.2014:<br>
  [Advanced Testing Techniques for Node.js](http://www.spaconference.org/spa2014/sessions/session571.html)<br>
  <small>halbtägiger Workshop mit Andreas Leidig</small>

* London Software Craftsmanship Community, 26.6.2014:<br>
  [Hands-on session: Refactoring Legacy Code](http://www.meetup.com/de/london-software-craftsmanship/events/190722572/)<br>
  <small>Workshop</small>

* Entwicklertag, Karlsruhe, 22.5.2014:<br>
  [Einführung in Domain-Driven Design](https://entwicklertag.de/karlsruhe/2014/vortrag/einf-hrung-domain-driven-design)<br>
  [(Video)](https://www.youtube.com/watch?v=1C9aQlz7N2I)<br>
  <small>Vortrag mit Jens Borrmann</small>

* Mathema Campus, Erlangen, 20.4.2014:<br>
  Jetzt funkt's! - Funktionale Programmierung für Anfänger<br>
  <small>Vortrag</small>

* Mathema Campus, Erlangen, 19.4.2014:<br>
  Hobbythek - Open Source Softwareentwicklung mit JavaScript und node.js<br>
  <small>ganztägiger Workshop mit Andreas Leidig</small>

* Entwicklertag, Frankfurt, 19.2.2014:<br>
  [Software Craftsman Swap - Ein Erfahrungsbericht](https://entwicklertag.de/frankfurt/2014/session/software-craftsman-swap-ein-erfahrungsbericht)<br>
  <small>Vortrag mit Matthias Mayer</small>

* XP-Days, Karlsruhe, 15.11.2013:<br>
  [„Javascript auf dem Server. Das geht ja gar nicht!“ - Durchleuchtung einer Open Source node.js Anwendung](http://www.xpdays.de/2013/sessions/e01-javascript-auf-dem-server-das-geht-ja-gar-nicht-durchleuchtung-einer-open-source-nodejs-anwendung.html)<br>
  <small>Vortrag mit Andreas Leidig</small>

* XP-Days, Karlsruhe, 15.11.2013:<br>
  [Craftsman Swap](http://www.xpdays.de/2013/sessions/073-craftsman-swap.html)<br>
  <small>Vortrag / Diskussion</small>

* XP-Days, Karlsruhe, 14.11.2013:<br>
  [OO-Design-Workshop: Restrukturierung von Code "From Push To Pull"](http://www.xpdays.de/2013/sessions/078-oo-design-workshop-restrukturierung-von-code-from-push-to-pull.html)<br>
  <small>Workshop mit Andreas Leidig</small>

* Softwerkskammer, Karlsruhe, 11.9.2013:<br>
  [Workshop: Refactoring Legacy Code "From Push to Pull"](https://www.softwerkskammer.org/activities/ka-treffen-25)<br>
  <small>Workshop mit Andreas Leidig</small>

* Herbstcampus, Nürnberg, 5.9.2013:<br>
  [Craftsman Swaps - Software-Entwickler auf der Walz](http://www.herbstcampus.de/hc13/program/sessions.html#100004)<br>
  <small>Kurzvortrag</small>

* Herbstcampus, Nürnberg, 3.9.2013:<br>
  [Macht der Gewohnheit - Usus &ndash; ein Werkzeug zur Verbesserung der Code-Qualität](http://www.herbstcampus.de/hc13/program/sessions.html#40)<br>
  <small>Vortrag</small>

* XP Conference, Wien, Österreich, 3.6.2013:<br>
  [Restructuring Code: From "Push" to "Pull"](http://xp2013.org/program/workshops-and-tutorials/restructuring-code-from-push-to-pull/)<br>
  <small>halbtägiger Workshop mit Andreas Leidig</small>

* XP-Days, Hamburg, 29.11.2012:<br>
  [Beispielhaft (Specification by Example)](http://www.xpdays.de/twiki/bin/view/XPDays2012/SpecificationByExample)<br>
  <small>Vortrag mit Andreas Leidig</small>

* Herbstcampus, Nürnberg, 5.9.2012:<br>
  [Monaden - Die nächste Herausforderung der funktionalen Welt](http://www.herbstcampus.de/hc12/program/sessions.html#57)<br>
  <small>Vortrag</small>

* Herbstcampus, Nürnberg, 4.9.2012:<br>
  [Beispielhaft (Specification by Example)](http://www.herbstcampus.de/hc12/program/sessions.html#46)<br>
  <small>Vortrag mit Andreas Leidig</small>

* Entwicklertag, Karlsruhe, 10.5.2012:<br>
  [Refactoring Legacy Code](http://entwicklertag.de/karlsruhe/2012/refactoring-von-legacy-code-ein-praxisbericht)<br>
  <small>Vortrag mit Andreas Leidig</small>

* Mathema Campus, Erlangen, 25.2.2012:<br>
  Refactoring Legacy Code<br>
  <small>Vortrag mit Andreas Leidig</small>

* Mathema Campus, Erlangen, 24.2.2012:<br>
  Wege aus der FIT-Test-Hölle<br>
  <small>Vortrag mit Andreas Leidig</small>

* Deutsche Scrum Treffen, Stuttgart, 12.7.2011:<br>
  Scrum Smells<br>
  <small>Vortrag / Diskussion</small>

* XP-Days Germany, Hamburg, 26.11.2010:<br>
  [Unit Tests als Spezifikation?](http://www.xpdays.de/twiki/bin/view/XPDays2010/UnitTestsAlsSpezifikation)<br>
  <small>Vortrag mit Marc Philipp</small>

* Software Craftsmanship 2010, Bletchley Park, Milton Keynes, UK, 7.10.2010:<br>
  [Customizing Project Usus](https://sc2010subs.wordpress.com/2010/09/26/customizing-project-usus-nicole-rauch-andreas-leidig/)<br>
  <small>Vortrag mit Andreas Leidig</small>

* JAX 2010, Mainz, 5.5.2010:<br>
  Das ist hier Usus...<br>
  <small>Vortrag mit Andreas Leidig</small>

</div>
