@import "original-variables.less";


@nr-background:                    #F6F2EE;

@navbar-height:                    91px;
@navbar-default-bg:                @nr-background;
@navbar-default-link-color:                #E53B29;
@navbar-default-link-hover-color:          lighten(#000, 20%);
@navbar-default-link-active-color:         lighten(#000, 20%);
@navbar-default-link-active-bg:            transparent;
