<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nicole Rauch - Softwareentwicklung und Entwicklungscoaching</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- build:css /css/nicole.min.css -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/screen.css">

    <!-- Fullpage -->
    <link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic' rel='stylesheet' type='text/css'>
</head>
