<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="hidden-sm hidden-md hidden-lg" ><a href="/index.html">Startseite</a></li>
            <li $activeClass("blog")$ $activeClass("posts")$><a href="/blog.html">Blog</a></li>
            <li $activeClass("schwerpunkte")$><a href="/schwerpunkte.html">Schwerpunkte</a></li>
            <li $activeClass("termine")$><a href="/termine.html">Termine</a></li>
            <li class="hidden-xs"><a class="navbar-brand" href="/index.html"><img class="img-responsive" src="/img/logo_menu.png" /></a></li>
            <li $activeClass("themen")$><a href="/themen.html">Themen</a></li>
            <li $activeClass("referenzen")$><a href="/referenzen.html">Referenzen</a></li>
            <li $activeClass("impressum")$><a href="/impressum.html">Impressum</a></li>
        </ul>
    </div>
</nav>
